<% if User.current.admin? %>
  <div class="contextual">
    <%= form_tag(semantic_search_sync_embeddings_path, method: :post, style: 'display: inline;') do %>
      <%= submit_tag l(:button_sync_embeddings), class: 'button icon icon-update' %>
    <% end %>
  </div>
<% end %>
